# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# PVS-Studio logs
*.plog

# CLion
/.idea

# Miscelenaous
*.log
/.vagrant
/.vs*
/*build*/
/[Dd]ebug
/[Rr]elease
/[Ww]in32
/x64
/*.dir
/*.local.bat
/docker_build/
example
example.dSYM/
/example/empty.cpp

