# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/.vagrant
/.vscode
/*build*/
/*.local.bat
/doc
/docker_build/
example
example.dSYM/
/examples/empty.cpp
