<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="nanodbc" Description="C++ Core Guidelines checks nanodbc can answer" ToolsVersion="17.0">
  <Include Path="cppcorecheckrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26446" Action="None" />
    <Rule Id="C26482" Action="None" />
    <Rule Id="C26481" Action="None" />
    <Rule Id="C26485" Action="None" />
    <Rule Id="C26472" Action="None" />
    <Rule Id="C26429" Action="None" />
    <Rule Id="C26401" Action="None" />
    <Rule Id="C26400" Action="None" />
    <Rule Id="C26459" Action="None" />
    <Rule Id="C26476" Action="None" />
    <Rule Id="C26493" Action="None" />
    <Rule Id="C26490" Action="None" />
    <Rule Id="C26473" Action="None" />
    <Rule Id="C26477" Action="None" />
    <Rule Id="C26460" Action="None" />
    <Rule Id="C26455" Action="None" />
    <Rule Id="C26434" Action="None" />
    <Rule Id="C26456" Action="None" />
    <Rule Id="C26812" Action="None" />
  </Rules>
</RuleSet>
