# GHA workflow to check well-formedness of sources, docs and auxiliary files
name: "Lint"

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  sources:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.13
      with:
        source: '.'
        extensions: 'h,cpp'
        clangFormatVersion: 12
        inplace: True
  documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: avto-dev/markdown-lint@v1
      with:
        args: '**/*.md'
    - uses: docker://oskarstark/doctor-rst
      with:
        args: --short --error-format=github
      env:
        DOCS_DIR: 'doc/'
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: hadolint/hadolint-action@v2.0.0
      with:
        dockerfile: Dockerfile
  vagrant:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    - run: vagrant version
    - run: vagrant validate
